OPENgovTOCO/Web References/MotoreTOCO/MotoreTOCO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import schemaLocation="http://192.168.80.31/OPENgov_MotoreTOCO/MotoreTOCO.asmx?schema=dsContatti" namespace="http://www.tempuri.org/dsContatti.xsd" />
      <s:element name="CalcolaImportoTOCO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Immobile" type="s0:Articolo" />
            <s:element minOccurs="0" maxOccurs="1" name="arrCategorie" type="s0:ArrayOfCategorie" />
            <s:element minOccurs="0" maxOccurs="1" name="arrTipologieOccupazioni" type="s0:ArrayOfTipologieOccupazioni" />
            <s:element minOccurs="0" maxOccurs="1" name="arrAgevolazioni" type="s0:ArrayOfAgevolazione" />
            <s:element minOccurs="0" maxOccurs="1" name="arrTariffe" type="s0:ArrayOfTariffe" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Articolo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdArticolo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Dichiarazione" type="s0:DichiarazioneTosapCosap" />
          <s:element minOccurs="0" maxOccurs="1" name="SVia" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CodVia" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Civico" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Esponente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Interno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Scala" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataInizioOccupazione" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DataFineOccupazione" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDurata" type="s0:Durata" />
          <s:element minOccurs="1" maxOccurs="1" name="DurataOccupazione" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Consistenza" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoConsistenzaTOCO" type="s0:TipoConsistenza" />
          <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MaggiorazioneImporto" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MaggiorazionePerc" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="TipologiaOccupazione" type="s0:TipologieOccupazioni" />
          <s:element minOccurs="0" maxOccurs="1" name="Categoria" type="s0:Categorie" />
          <s:element minOccurs="0" maxOccurs="1" name="AgevolazioneTOCO" type="s0:Agevolazione" />
          <s:element minOccurs="1" maxOccurs="1" name="DetrazioneImporto" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Attrazione" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DichiarazioneTosapCosap">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TestataDichiarazione" type="s0:DichiarazioneTosapCosapTestata" />
          <s:element minOccurs="0" maxOccurs="1" name="AnagraficaContribuente" type="s0:DettaglioAnagrafica" />
          <s:element minOccurs="0" maxOccurs="1" name="ArticoliDichiarazione" type="s0:ArrayOfArticolo" />
          <s:element minOccurs="0" maxOccurs="1" name="IdEnte" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodTributo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdDichiarazione" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DichiarazioneTosapCosapTestata">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NDichiarazione" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataDichiarazione" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoAtto" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TitoloRichiedente" type="s0:TitoloRichiedente" />
          <s:element minOccurs="0" maxOccurs="1" name="Ufficio" type="s0:Uffici" />
          <s:element minOccurs="0" maxOccurs="1" name="NoteDichiarazione" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TitoloRichiedente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdTitoloRichiedente" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Uffici">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdUfficio" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DettaglioAnagrafica">
        <s:complexContent mixed="false">
          <s:extension base="s0:CRUD">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="m_COD_CONTRIBUENTE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_ID_DATA_ANAGRAFICA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_ID_DATA_SPEDIZIONE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_Cognome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_Nome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_CodiceFiscale" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_PartitaIva" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_CodiceComuneNascita" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_ComuneNascita" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_ProvinciaNascita" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_DataNascita" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_NazionalitaNascita" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_Sesso" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_CodiceComuneResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_ComuneResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_ProvinciaResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_CapResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_CodViaResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_ViaResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_PosizioneCivicoResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_CivicoResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_EsponenteCivicoResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_ScalaCivicoResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_InternoCivicoResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_FrazioneResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_NazionalitaResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_NucleoFamiliare" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_RappresentanteLegale" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_DataMorte" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_Professione" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_Note" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="m_DaRicontrollare" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="m_Data_Inizio_Validita" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_Data_Fine_Validita" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_Data_Ultima_Modifica" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_Operatore" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_Cod_Contribuente_Rapp_Legale" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_CodEnte" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_CodIndividuale" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_CodFamiglia" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_NC_Tributari" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_Data_Ultimo_Agg_Tributi" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_NC_Anagrafica_Res" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_Data_Ultimo_Agg_Anagrafe" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_COD_TRIBUTO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_COGNOME_INVIO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_NOME_INVIO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_COD_COMUNE_RCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_COMUNE_RCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_LOC_RCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_PROVINCIA_RCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_CAP_RCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_COD_VIA_RCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_VIA_RCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_POSIZIONE_CIV_RCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_CIVICO_RCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_ESPONENTE_CIVICO_RCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_SCALA_CIVICO_RCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_INTERNO_CIVICO_RCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_FRAZIONE_RCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_DATA_INIZIO_VALIDITA_SPED" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_DATA_FINE_VALIDITA_SPED" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_DATA_ULTIMA_MODIFICA_SPED" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_OPERATORE_SPEDIZIONE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_TipoRiferimento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_DatiRiferimento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_dsContatti">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://www.tempuri.org/dsContatti.xsd" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="m_dsTipiContatti">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="COD_CONTRIBUENTE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ID_DATA_SPEDIZIONE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ID_DATA_ANAGRAFICA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Cognome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RappresentanteLegale" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodiceFiscale" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PartitaIva" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodiceComuneNascita" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ComuneNascita" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ProvinciaNascita" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataNascita" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NazionalitaNascita" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Sesso" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodiceComuneResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ComuneResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ProvinciaResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CapResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodViaResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ViaResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PosizioneCivicoResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CivicoResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EsponenteCivicoResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ScalaCivicoResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="InternoCivicoResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FrazioneResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NazionalitaResidenza" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NucleoFamiliare" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataMorte" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Professione" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DaRicontrollare" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="DataInizioValidita" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataFineValidita" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataUltimaModifica" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Operatore" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodContribuenteRappLegale" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodEnte" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodIndividuale" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodFamiglia" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NCTributari" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataUltimoAggTributi" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NCAnagraficaRes" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataUltimoAggAnagrafe" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodTributo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CognomeInvio" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NomeInvio" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodComuneRCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ComuneRCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LocRCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ProvinciaRCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CapRCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodViaRCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ViaRCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PosizioneCivicoRCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CivicoRCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EsponenteCivicoRCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ScalaCivicoRCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="InternoCivicoRCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FrazioneRCP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataInizioValiditaSpedizione" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataFineValiditaSpedizione" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataUltimaModificaSpedizione" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OperatoreSpedizione" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TipoRiferimento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DatiRiferimento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="dsContatti">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://www.tempuri.org/dsContatti.xsd" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="dsTipiContatti">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CRUD">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Concurrency" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArticolo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Articolo" nillable="true" type="s0:Articolo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Durata">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdDurata" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoConsistenza">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoConsistenza" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipologieOccupazioni">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdTipologiaOccupazione" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CoefficienteMoltiplicativo" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Categorie">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdCategoria" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Coefficiente" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Agevolazione">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdAgevolazione" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AgevolazionePerc" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCategorie">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Categorie" nillable="true" type="s0:Categorie" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTipologieOccupazioni">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TipologieOccupazioni" nillable="true" type="s0:TipologieOccupazioni" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAgevolazione">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Agevolazione" nillable="true" type="s0:Agevolazione" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTariffe">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Tariffe" nillable="true" type="s0:Tariffe" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Tariffe">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdTariffa" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Categoria" type="s0:Categorie" />
          <s:element minOccurs="0" maxOccurs="1" name="TipologiaOccupazione" type="s0:TipologieOccupazioni" />
          <s:element minOccurs="1" maxOccurs="1" name="Anno" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Valore" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MinimoApplicabile" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="CalcolaImportoTOCOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalcolaImportoTOCOResult" type="s0:CalcoloResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CalcoloResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TariffaApplicata" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ImportoLordo" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ImportoCalcolato" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s0:E_CALCOLORESULT" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="E_CALCOLORESULT">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="NOTARIFFA" />
          <s:enumeration value="NOCATEGORIA" />
          <s:enumeration value="NOTIPOLOGIAOCCUPAZIONE" />
          <s:enumeration value="ERRORECALCOLO" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </types>
  <message name="CalcolaImportoTOCOSoapIn">
    <part name="parameters" element="s0:CalcolaImportoTOCO" />
  </message>
  <message name="CalcolaImportoTOCOSoapOut">
    <part name="parameters" element="s0:CalcolaImportoTOCOResponse" />
  </message>
  <portType name="MotoreTOCOSoap">
    <operation name="CalcolaImportoTOCO">
      <input message="s0:CalcolaImportoTOCOSoapIn" />
      <output message="s0:CalcolaImportoTOCOSoapOut" />
    </operation>
  </portType>
  <binding name="MotoreTOCOSoap" type="s0:MotoreTOCOSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CalcolaImportoTOCO">
      <soap:operation soapAction="http://tempuri.org/CalcolaImportoTOCO" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="MotoreTOCOSoap12" type="s0:MotoreTOCOSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    <operation name="CalcolaImportoTOCO">
      <soap12:operation soapAction="http://tempuri.org/CalcolaImportoTOCO" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </input>
      <output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </output>
    </operation>
  </binding>
  <service name="MotoreTOCO">
    <port name="MotoreTOCOSoap" binding="s0:MotoreTOCOSoap">
      <soap:address location="http://192.168.80.31/OPENgov_MotoreTOCO/MotoreTOCO.asmx" />
    </port>
    <port name="MotoreTOCOSoap12" binding="s0:MotoreTOCOSoap12">
      <soap12:address location="http://192.168.80.31/OPENgov_MotoreTOCO/MotoreTOCO.asmx" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    </port>
  </service>
</definitions>